<h1>Editing account group</h1>
<%= render 'form', account_group: @account_group %>
<br>
<div>
  <%= link_to 'Show this account group', @account_group %> |
  <%= link_to 'Back to account groups', account_groups_path %>
</div>
