<p style="color: green"><%= notice %></p>
<h1>Account groups</h1>
<div id="account_groups">
  <% @account_groups.each do |account_group| %>
    <%= render account_group %>
    <p>
      <%= link_to 'Show this account group', account_group %>
    </p>
  <% end %>
</div>
<%= link_to 'New account group', new_account_group_path %>
