<h1>자산관리</h1>
<table id="accounts">
  <thead>
    <tr>
      <th>순서</th>
      <th>자산그룹</th>
      <th>자산 이름</th>
      <th>타입</th>
      <th>관리</th>
    </tr>
  </thead>
  <tbody>
    <% @accounts_enable.each do |account| %>
      <%= render account %>
    <% end %>
  </tbody>
</table>
<%= link_to '자산 추가', new_account_path %>
